<div class='alert alert-info' style='padding:0'>
    <h2 style='margin: 20px; text-align:center'>Clustering</h2>
    <ul>
    <li>
        Los algoritmos de clustering son las estrategias que podemos usar para agrupar los datos de tal manera que todos los datos pertenecientes a un grupo sen lo mas similares que sea posible entre si y lo mas diferentes a los de otros grupos.
    </li><br/>
    <li>
        Algoritmos no supervisados para descubrir patrones y valores atipicos
    </li><br/>
    <li>Podemos definir cuantos K grupos se realizan (k-means, spectral clustering) o que el algoritmo encuentre el K óptimo (meanshift, clustering jerárquico, DBScan)</li>
    </ul>
</div>

## Batch K-Means

In [1]:
import pandas as pd
import numpy as np

from sklearn.cluster import MiniBatchKMeans

In [2]:
data = pd.read_csv('../datasets/candy.csv')
data.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [3]:
 x = data.drop('competitorname', axis=1)

In [4]:
kmeans = MiniBatchKMeans(n_clusters=4, batch_size=8).fit(x) # de a 8 datos se procesan

In [5]:
print(f'Total de centros: {len(kmeans.cluster_centers_)}')

Total de centros: 4

In [6]:
print(f'Predicciones {kmeans.predict(x)}')

Predicciones [3 3 2 0 1 1 1 2 2 2 0 2 2 0 0 0 0 0 1 2 1 0 1 1 1 1 2 1 3 0 0 1 3 3 0 1 3
 1 3 0 1 1 3 3 2 0 0 3 2 0 2 3 3 3 3 2 3 2 0 2 1 1 2 0 3 1 1 1 3 2 2 2 2 1
 0 0 0 0 0 3 0 0 0 0 0]

In [7]:
data['group'] = kmeans.predict(x)
data.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,group
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,3
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,3
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,2
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1

## Mean shift

El algoritmo decide la cantidad de cluster

In [8]:
from sklearn.cluster import MeanShift

In [11]:
x = data.drop('competitorname', axis=1)

In [16]:
mean = MeanShift()  # bandwidth

mean.fit(x)
print(f'Labels {mean.labels_}')

Labels [1 1 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 1 1 0 1 1 0 0 1 1 1 0 1 1
 1 1 0 1 1 1 1 0 0 0 1 0 0 0 1 1 1 1 0 1 0 0 0 1 1 0 0 1 1 1 1 1 0 0 0 0 1
 0 0 0 0 0 1 0 0 0 0 0]

In [17]:
mean.cluster_centers_

array([[2.25000000e-01, 5.75000000e-01, 1.00000000e-01, 2.50000000e-02,
        5.00000000e-02, 2.50000000e-02, 3.00000000e-01, 1.00000000e-01,
        5.50000000e-01, 4.57599993e-01, 3.67824996e-01, 4.10442122e+01,
        6.50000000e-01],
       [6.07142857e-01, 3.92857143e-01, 2.50000000e-01, 1.42857143e-01,
        1.07142857e-01, 1.42857143e-01, 3.57142857e-02, 4.28571429e-01,
        5.00000000e-01, 5.23535706e-01, 5.57642857e-01, 5.88355186e+01,
        1.50000000e+00]])

In [18]:
data['meanshift'] = mean.labels_
data.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,group,meanshift
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,3,1
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,3,1
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,2,0
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0,0
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1,1