## Series.

In [3]:
import pandas as pd
serie1 = pd.Series([1,2,3])
serie2 = pd.Series({'uno': 1, 'dos': 2})
print(serie1)
print(serie2)

0    1
1    2
2    3
dtype: int64
dos    2
uno    1
dtype: int64

## DataFrames

In [4]:
frame = pd.DataFrame({'ana': [12, 13], 'nata': [15,16]})
frame

   ana  nata
0   12    15
1   13    16

In [5]:
frame2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['ayer', 'hoy', 'mañana'])
frame2

   ayer  hoy  mañana
0     1    2       3
1     4    5       6
2     7    8       9

## Índices y selección

In [6]:
el_universal = pd.read_csv('../scraping/elpais_18_12_27_articles.csv')
el_universal.head()

   body                                              title
0   NaN  \nMedicina o veneno. La difusa frontera que se...
1   NaN  \nA lo largo de toda la costa occidental de la...
2   NaN                                                NaN
3   NaN  \nCientos de colombianos se acercaron al Camp ...
4   NaN                                                NaN