## Series.

In [3]:
import pandas as pd
serie1 = pd.Series([1,2,3])
serie2 = pd.Series({'uno': 1, 'dos': 2})
print(serie1)
print(serie2)

0    1
1    2
2    3
dtype: int64
dos    2
uno    1
dtype: int64

## DataFrames

In [4]:
frame = pd.DataFrame({'ana': [12, 13], 'nata': [15,16]})
frame

   ana  nata
0   12    15
1   13    16

In [5]:
frame2 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['ayer', 'hoy', 'mañana'])
frame2

   ayer  hoy  mañana
0     1    2       3
1     4    5       6
2     7    8       9

<div class='alert-info alert'>
<h3>indices y selección</h3>
</div>

In [10]:
pd.options.display.max_rows = 10
el_pais = pd.read_csv('../scraping/elpais_18_12_27_articles.csv')
el_pais

,body,title
0,The organization Es Racismo (It’s Racism) has ...,Woman’s racist rant to Madrid store clerk goes...
1,Eddie Murphy ha reunido a toda su familia por ...,Eddie Murphy posa por primera vez con sus diez...
2,Pocas cosas satisfacen tanto a un viajero cost...,Placeres del mar en Bakio
3,Rusia ha sellado con China lo que muchos anali...,Rusia vira hacia China por las sanciones occid...
4,La salud global ha sido el tema estrella este ...,El misterioso coma de los niños en Suecia y ot...
...,...,...
66,A lo largo de toda la costa occidental de la i...,Vivir a los pies de un volcán letal
67,The tobacco smoke that was eradicated from man...,Legal loophole sees smoking return to Spanish ...
68,Los folletos para turistas dirán que Buenos Ai...,Un mar infinito de pañuelos verdes
69,En un año en el que por todo el mundo el #meto...,Diez famosos que han demostrado cómo debe ser ...
70,El de España no es un caso raro en Europa occi...,España es el tercer país con un mayor abandono...

In [11]:
# dictionary like

el_pais['title']

0     Woman’s racist rant to Madrid store clerk goes...
1     Eddie Murphy posa por primera vez con sus diez...
2                             Placeres del mar en Bakio
3     Rusia vira hacia China por las sanciones occid...
4     El misterioso coma de los niños en Suecia y ot...
                            ...
66                  Vivir a los pies de un volcán letal
67    Legal loophole sees smoking return to Spanish ...
68                   Un mar infinito de pañuelos verdes
69    Diez famosos que han demostrado cómo debe ser ...
70    España es el tercer país con un mayor abandono...
Name: title, Length: 71, dtype: object

In [12]:
# Numpy like
el_pais.iloc[10:15]

,body,title
10,Alemania estudia reclutar a ciudadanos de otro...,Alemania estudia abrir su Ejército a ciudadano...
11,Tres derrotas en las cuatro últimas jornadas d...,Guardiola busca soluciones
12,El niño aún no había sido identificado oficial...,La policía de fronteras de EE UU ordena exámen...
13,El rey Salmán de Arabia Saudí ha anunciado est...,Arabia Saudí remodela su Gobierno y releva al ...
14,"Carlos Boyero, crítico de cine de EL PAÍS, rea...","Las mejores películas de 2018, según Carlos Bo..."

In [13]:
el_pais.iloc[24]['title']

'Argentina aplica un impuesto de hasta 15% a las rentas financieras'

In [15]:
el_pais.iloc[:5, 1]

0    Woman’s racist rant to Madrid store clerk goes...
1    Eddie Murphy posa por primera vez con sus diez...
2                            Placeres del mar en Bakio
3    Rusia vira hacia China por las sanciones occid...
4    El misterioso coma de los niños en Suecia y ot...
Name: title, dtype: object

In [16]:
# Labels like
el_pais.loc[:, 'body']

0     The organization Es Racismo (It’s Racism) has ...
1     Eddie Murphy ha reunido a toda su familia por ...
2     Pocas cosas satisfacen tanto a un viajero cost...
3     Rusia ha sellado con China lo que muchos anali...
4     La salud global ha sido el tema estrella este ...
                            ...
66    A lo largo de toda la costa occidental de la i...
67    The tobacco smoke that was eradicated from man...
68    Los folletos para turistas dirán que Buenos Ai...
69    En un año en el que por todo el mundo el #meto...
70    El de España no es un caso raro en Europa occi...
Name: body, Length: 71, dtype: object

<div class='alert-info alert'>
<h3>Data wrangling</h3>
</div>

<div class='alert alert-info'>
Simplemente es limpiar, transformar y enriquecer el dataset para objetivos posteriores.

Pandas es una de las herramientas más poderosas para realizar este *domado* de datos. Recordemos que Pandas trae muchas de sus abstracciones del lenguaje R, pero nos otorga lo mejor de ambos mundos, por eso es tan popular.
<br/>
Nos permite:


<ul>
<li>generar transformaciones con gran facilidad.</li>
<li>trabajar rápidamente con datasets grandes.</li>
<li>detectar y reemplazar faltantes.</li>
<li>agrupar y resumir nuestros datos.</li>
<li>visualizar nuestros resultados.</li>
</ul>
</div>